html { 
  background-color: #71c5cf;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#canvas {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'ScoreFont';
  src: url('./fonts/ScoreFont.ttf') format('truetype');
}